<a href="https://colab.research.google.com/github/rohitthapar/Sampling/blob/main/SamplingAssignment_102003482_RohitThapar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('Creditcard_data.csv')

In [2]:
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.ensemble import RandomForestClassifier
def RandomForest(X_train, y_train, X_test, y_test):
  clf = RandomForestClassifier(n_estimators = 2)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [4]:
from sklearn.neighbors import KNeighborsClassifier
def KNN(X_train, y_train, X_test, y_test):
  knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)
  knn_pred = knn.predict(X_test)
  return accuracy_score(y_test,knn_pred)

In [5]:
from sklearn.tree import DecisionTreeClassifier
def DecisionTree(X_train, y_train, X_test, y_test):
  tree = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)
  tree_pred = tree.predict(X_test)
  return accuracy_score(y_test,tree_pred)

In [6]:
from sklearn.linear_model import LogisticRegression
def Logistic(X_train, y_train, X_test, y_test):
  clf = LogisticRegression()
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [7]:
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
def SVC(X_train, y_train, X_test, y_test):
  svm = SGDClassifier(loss='hinge')
  svm.fit(X_train, y_train)
  y_pred = svm.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [8]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
from sklearn.preprocessing import normalize
Amount = normalize([df['Amount']])[0]
df['Amount'] = Amount
df = df.iloc[:, 1:]

In [10]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [11]:
clas = df["Class"].value_counts(normalize=False)
print(clas)

Class
0    763
1      9
Name: count, dtype: int64

In [12]:
X = df.drop('Class', axis=1)
y = df['Class']

In [13]:
# over sampling the minority data -> balancing the imbalanced dataset
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_r, y_r = ros.fit_resample(X, y)

In [14]:
clas = y_r.value_counts(normalize=False)
print(clas)

Class
0    763
1    763
Name: count, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_dummy, X_test, y_dummy, y_test = train_test_split(X_r, y_r, test_size=0.33, random_state=42)

In [16]:
df_new = pd.concat([X_r, y_r], axis=1)
df_new

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [17]:
z = 1.96 #95% confidence level
p = 0.5
e = 0.05 #5% esimated margin of error

***SIMPLE RANDOM SAMPLING***

In [18]:
#Simple Random Sampling 
import math
n_srs = (z*z*p*(1-p))/(e*e)
n_srs = math.floor(n_srs)
print(n_srs)

384

In [19]:
# from pandas.core.dtypes.generic import DataFrame
import random
def random_sampling(df, n_srs):
    random_sample = df.sample(n = n_srs)
    return(random_sample)
randomSample = random_sampling(df_new, n_srs)

In [20]:
randomSample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
720,1.183728,0.143447,0.238718,1.316873,-0.030196,0.012157,0.022382,0.042439,0.409277,-0.107349,...,-0.130755,-0.175158,-0.101670,-0.282291,0.689079,-0.288746,0.034764,0.011592,0.001971,0
134,-1.897331,0.955626,0.052543,1.276656,-3.323084,3.229911,1.029631,1.515607,-0.059627,-1.461403,...,0.128416,0.776078,0.477537,-0.608981,-1.120892,-0.413851,0.061399,-0.187964,0.094954,0
674,1.163271,0.141760,0.124579,0.958551,-0.159554,-0.461529,0.090759,-0.023257,-0.125187,0.195403,...,0.066320,0.089322,-0.169921,-0.012282,0.660756,-0.325616,-0.002210,0.010419,0.006179,0
1182,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,-0.282617,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,0.000463,1
986,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1

In [21]:
X_srs = randomSample.drop('Class', axis=1) #X_train
y_srs = randomSample['Class'] #y_train

In [22]:
len(y_srs)

384

In [23]:
srs_RandomForest = RandomForest(X_srs,y_srs,X_test,y_test)
srs_DecisionTree = DecisionTree(X_srs,y_srs,X_test,y_test)
srs_KNN = KNN(X_srs,y_srs,X_test,y_test)
srs_logistic = Logistic(X_srs,y_srs,X_test,y_test)
srs_svc = SVC(X_srs,y_srs,X_test,y_test)

a1 = [srs_RandomForest,srs_DecisionTree,srs_KNN,srs_logistic,srs_svc]

In [24]:
a1

[0.996031746031746,
 0.9345238095238095,
 0.9325396825396826,
 0.9206349206349206,
 0.9345238095238095]

***STRATIFIED SAMPLING***

In [25]:
#Stratified Sampling
import math
s = 2 #no of strata
n_strat = (z*z*p*(1-p))/(e*e/s*s)
n_strat = math.floor(n_srs)
print(n_strat)

384

In [26]:
# stratified sampling
from sklearn.model_selection import train_test_split
strata = df_new.groupby('Class')
stratified_df = strata.apply(lambda x: x.sample(n_strat))
stratified_df

                  V1        V2        V3        V4        V5        V6  \
Class
0     103  -0.608027  0.306694  1.473004  1.191127  0.021265  0.888442
      28   -0.414289  0.905437  1.727453  1.473471  0.007443 -0.200331
      43   -0.935732  0.170416  2.746261 -1.077965 -0.305594  0.011577
      513  -1.896099 -1.829046  1.181222  3.897846 -1.686469  1.976371
      600   1.072205 -0.253478  0.802397  0.379596 -0.936343 -0.760366
...              ...       ...       ...       ...       ...       ...
1     1339 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262
      789  -0.928088  0.398194  1.741131  0.182673  0.966387 -0.901004
      1356 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262
      1442 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
      1212 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

                  V7        V8        V9       V10  ...       V21       V22  \
Class                                               ...
0     103   1.190491  0.042147 -0.446426 -0.080386  ...  0.046506  0.165163
      28    0.740228 -0.029247 -0.593392 -0.346188  ...  0.077237  0.457331
      43   -0.296178  0.402776 -0.040472 -0.852046  ...  0.401212  1.064864
      513  -0.564107 -2.400465 -0.979202 -0.284724  ... -0.936346 -0.516626
      600  -0.214657 -0.132001  0.390460 -0.228891  ... -0.036785 -0.270994
...              ...       ...       ...       ...  ...       ...       ...
1     1339 -2.110183  0.788347  0.958809 -0.328631  ...  0.422452  1.195394
      789   0.879016 -0.156590 -0.142117 -0.574775  ...  0.066353  0.281378
      1356 -2.110183  0.788347  0.958809 -0.328631  ...  0.422452  1.195394
      1442  0.325574 -0.067794 -0.270953 -0.838587  ...  0.661696  0.435477
      1212  0.325574 -0.067794 -0.270953 -0.838587  ...  0.661696  0.435477

                 V23       V24       V25       V26       V27       V28  \
Class
0     103   0.063974 -0.333792  0.131776 -0.217692 -0.082183 -0.116730
      28   -0.038500  0.642522 -0.183891 -0.277464  0.182687  0.152665
      43   -0.158325  0.295505 -0.259370  0.754195  0.046664  0.093948
      513  -0.911682  0.025106  0.656699  0.200868 -0.088994  0.339814
      600   0.018831  0.438930  0.099048  0.435283 -0.036979  0.038835
...              ...       ...       ...       ...       ...       ...
1     1339  0.297836 -0.857105 -0.219322  0.861019 -0.124622 -0.171060
      789  -0.257966  0.385384  0.391117 -0.453853 -0.104448 -0.125765
      1356  0.297836 -0.857105 -0.219322  0.861019 -0.124622 -0.171060
      1442  1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764
      1212  1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764

              Amount  Class
Class
0     103   0.028986      0
      28    0.005675      0
      43    0.001565      0
      513   0.151521      0
      600   0.015977      0
...              ...    ...
1     1339  0.000258      1
      789   0.000172      1
      1356  0.000258      1
      1442  0.090968      1
      1212  0.090968      1

[768 rows x 30 columns]

In [27]:
stratified_df.head()

                 V1        V2        V3        V4        V5        V6  \
Class
0     103 -0.608027  0.306694  1.473004  1.191127  0.021265  0.888442
      28  -0.414289  0.905437  1.727453  1.473471  0.007443 -0.200331
      43  -0.935732  0.170416  2.746261 -1.077965 -0.305594  0.011577
      513 -1.896099 -1.829046  1.181222  3.897846 -1.686469  1.976371
      600  1.072205 -0.253478  0.802397  0.379596 -0.936343 -0.760366

                 V7        V8        V9       V10  ...       V21       V22  \
Class                                              ...
0     103  1.190491  0.042147 -0.446426 -0.080386  ...  0.046506  0.165163
      28   0.740228 -0.029247 -0.593392 -0.346188  ...  0.077237  0.457331
      43  -0.296178  0.402776 -0.040472 -0.852046  ...  0.401212  1.064864
      513 -0.564107 -2.400465 -0.979202 -0.284724  ... -0.936346 -0.516626
      600 -0.214657 -0.132001  0.390460 -0.228891  ... -0.036785 -0.270994

                V23       V24       V25       V26       V27       V28  \
Class
0     103  0.063974 -0.333792  0.131776 -0.217692 -0.082183 -0.116730
      28  -0.038500  0.642522 -0.183891 -0.277464  0.182687  0.152665
      43  -0.158325  0.295505 -0.259370  0.754195  0.046664  0.093948
      513 -0.911682  0.025106  0.656699  0.200868 -0.088994  0.339814
      600  0.018831  0.438930  0.099048  0.435283 -0.036979  0.038835

             Amount  Class
Class
0     103  0.028986      0
      28   0.005675      0
      43   0.001565      0
      513  0.151521      0
      600  0.015977      0

[5 rows x 30 columns]

In [28]:
X_st = stratified_df.drop('Class', axis=1) #X_train
y_st = stratified_df['Class'] #y_train

st_RandomForest = RandomForest(X_st,y_st,X_test,y_test)
st_DecisionTree = DecisionTree(X_st,y_st,X_test,y_test)
st_KNN = KNN(X_st,y_st,X_test,y_test)
st_logistic = Logistic(X_st,y_st,X_test,y_test)
st_svc = SVC(X_st,y_st,X_test,y_test)

a2 = [st_RandomForest,st_DecisionTree,st_KNN,st_logistic,st_svc]

In [29]:
a2

[0.998015873015873,
 0.9345238095238095,
 0.9623015873015873,
 0.9246031746031746,
 0.9246031746031746]

***CLUSTER SAMPLING***

In [30]:
from sklearn.cluster import KMeans
#no of clusters = 10
kmeans = KMeans(n_clusters=10, random_state=42).fit(df_new)
cluster_assignments = kmeans.labels_
cluster = [1,3,5,6,8]
cluster_series = pd.Series(cluster_assignments)
cluster_df = df_new[cluster_series.isin(cluster)]

C:\Users\powar\AppData\Roaming\Python\Python38\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [31]:
cluster_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0

In [32]:
X_C = cluster_df.drop('Class', axis=1) #X_train
y_C = cluster_df['Class'] #y_train

C_RandomForest = RandomForest(X_C,y_C,X_test,y_test)
C_DecisionTree = DecisionTree(X_C,y_C,X_test,y_test)
C_KNN = KNN(X_C,y_C,X_test,y_test)
C_logistic = Logistic(X_C,y_C,X_test,y_test)
C_svc = SVC(X_C,y_C,X_test,y_test)

a3 = [C_RandomForest,C_DecisionTree,C_KNN,C_logistic,C_svc]

***SYSTEMATIC SAMPLING***

In [33]:
#Systematic Sampling
interval = 3
systematic_df = df_new.iloc[::interval]
systematic_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1515,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1518,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1

In [34]:
systematic_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0

In [35]:
X_sy = systematic_df.drop('Class', axis=1) #X_train
y_sy = systematic_df['Class'] #y_train

sy_RandomForest = RandomForest(X_sy,y_sy,X_test,y_test)
sy_DecisionTree = DecisionTree(X_sy,y_sy,X_test,y_test)
sy_KNN = KNN(X_sy,y_sy,X_test,y_test)
sy_logistic = Logistic(X_sy,y_sy,X_test,y_test)
sy_svc = SVC(X_sy,y_sy,X_test,y_test)

a4 = [sy_RandomForest,sy_DecisionTree,sy_KNN,sy_logistic,sy_svc]

In [36]:
a4

[0.9940476190476191,
 0.9345238095238095,
 0.9543650793650794,
 0.9186507936507936,
 0.8630952380952381]

# ***convenience sampling***

In [37]:
#convenience sampling
convenience_sample = pd.concat([df_new.head(380), df_new.tail(380)])
convenience_sample

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [38]:
convenience_sample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [39]:
X_cs = convenience_sample.drop('Class', axis=1) #X_train
y_cs = convenience_sample['Class'] #y_train

cs_RandomForest = RandomForest(X_cs,y_cs,X_test,y_test)
cs_DecisionTree = DecisionTree(X_cs,y_cs,X_test,y_test)
cs_KNN = KNN(X_cs,y_cs,X_test,y_test)
cs_logistic = Logistic(X_cs,y_cs,X_test,y_test)
cs_svc = SVC(X_cs,y_cs,X_test,y_test)

a5 = [cs_RandomForest,cs_DecisionTree,cs_KNN,cs_logistic,cs_svc]

In [40]:
a5

[0.996031746031746,
 0.9365079365079365,
 0.9623015873015873,
 0.9226190476190477,
 0.875]

In [41]:
data = {
    'Model' : ['Decision Tree','KNN','SVC','Logistic Regression','Random Tree'],
    'Convenience Sampling' : a1,
    'Systematic Sampling' : a2,
    'Stratified Sampling' : a3,
    'Cluster Sampling' : a4,
    'Simple Random Sampling' : a5
}

In [42]:
final_df = pd.DataFrame(data)

# ***Final table showing accuracy of each model with different sampling techniques***

In [43]:
final_df

,Model,Convenience Sampling,Systematic Sampling,Stratified Sampling,Cluster Sampling,Simple Random Sampling
0,Decision Tree,0.996032,0.998016,0.787698,0.994048,0.996032
1,KNN,0.934524,0.934524,0.793651,0.934524,0.936508
2,SVC,0.932540,0.962302,0.771825,0.954365,0.962302
3,Logistic Regression,0.920635,0.924603,0.757937,0.918651,0.922619
4,Random Tree,0.934524,0.924603,0.771825,0.863095,0.875000